<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
<h1>Making New Board</h1>
<form action="./{{board_name}}">
    <label for="starter">Starting amount for players</label>
    <input type="number" name="starter" id="starter"><br>
    <label for="bank_amount">starter Bank amount</label>
    <input type="number" name="bank_amount" id="bank_amount"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>